################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Solitare_Repo/v17
/.vs
/hooks
/lfs/objects
/Solitaire/.vs/Solitaire
/Solitaire/Library
/Solitaire/Logs
/Solitaire/obj/Debug
/Solitaire/Temp
/Solitaire/UserSettings
/Solitaire/.vsconfig
/Solitaire/Assembly-CSharp.csproj
/Solitaire/Solitaire.sln
/Combat Game/.vs/Combat Game/FileContentIndex
/Combat Game/.vs/Combat Game/v16
/Combat Game/.vs/Combat Game/v17
/Combat Game/Library
/Combat Game/Logs
/Combat Game/obj/Debug
/Combat Game/UserSettings
/Combat Game/.vsconfig
/Combat Game/Assembly-CSharp.csproj
/Combat Game/Combat Game.sln
/Combat Game/UpgradeLog.htm
/Combat Game/UpgradeLog2.htm
/Combat Game/UpgradeLog3.htm
/Combat Game/Temp
